{{define "nav"}}

<style>
    .nav-sub a {
        font-weight: bold; /* This makes the text bold */
    }
</style>
<div class="container-fluid">
    <div class="row">
        
<div class="sub-navbar">
    <ul class="nav nav-sub">
        <li>
            <a href="/">DASHBOARD</a>
        </li>
        <li>
            <a href="/campaigns">CAMPAIGNS</a>
        </li>
        <li>
            <a href="/groups">USERS MANAGEMENT</a>
        </li>
        <li>
            <a href="/templates">EMAIL PHISHING</a>
        </li>
        <li>
            <a href="/landing_pages">PHISHING PAGES</a>
        </li>
        <li>
            <a href="/sending_profiles">SENDING PROFILES</a>
        </li>
        <li>
            <a href="/settings">ACCOUNT SETTINGS</span></a>
        </li>
        {{if .ModifySystem}}
        <li>
            <a href="/users">ADMIN MANAGEMENT<span class="nav-badge badge pull-right"></span></a>
        </li>
        <li>
            <a href="/webhooks">WEBHOOKS<span class="nav-badge badge pull-right"></span></a>
        </li>
        {{end}}
    </ul>
</div>
    </div>
</div>
{{end}}